# Исключаем файлы и папки, которые не должны попасть в Git

# Системные файлы
.DS_Store
__MACOSX

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# База данных
*.db
instance/

# Виртуальное окружение
.venv
venv
env
ENV

# Файлы с переменными окружения (секреты)
.env
*.env

# SSL сертификаты и ключи
*.pem
*.key
ssl/

# Логи
*.log

# Зависимости Python
pip-wheel-metadata/
